@import "../../common";

h5 {
  margin-bottom: 1rem;
}

.thumbnails-container {
  margin-bottom: 1rem;
  cursor: pointer;
}

.reference-description {
  margin-bottom: 1rem;
  
  p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
  
  .invisible-placeholder {
    opacity: 0;
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
}

.thumbnails {
  .image-wrapper {
    height: 200px;
    border-radius: 4px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    
    &[data-price]:not([data-price=""]):after {
      content: attr(data-price);
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 120px;
      height: 20px;
      background: linear-gradient(to left, transparent 1%, white);
      opacity: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      color: $gray;
      padding: 0 8px;
    }

    &:hover {
      transform: scale(1.02);
    }
    
    @media (max-width: 768px) {
      height: 150px;
    }

    @media (max-width: 576px) {
      height: 0;
      padding-top: 75%; /* 4:3 aspect ratio for more height */
      position: relative;
    }
  }
}


