@import "../common";

.reference {
  h4 {
    line-height: 29px;
    font-size: 24px;
    margin: 24px 0 25px 0;
    font-weight: 400;
  }

  h5 {
    padding-top: 18px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }

  entypo {
    float: right;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: $gray;
  }

  .thumbnails {
    div {
      display: inline-block;

      &.spacer {
        width: 4%;
      }

      &:not(.spacer) {
        width: 100%;
        height: 0px;
        padding-top: 75%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .ofh {
    overflow-x: hidden;
  }

  .bb {
    margin-top: 11px;
    width: 100%;
    height: 1px;
    background-color: $light-gray;
  }

  .buttons-container {
    @media (min-width: 576px) {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .btn {
    font-size: 14px !important;
    padding: 7px;
    margin-right: 16px;
    color: $gray !important;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px !important;
  }

  .reference .btn-primary {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;

    &.active {
      background-color: $light-gray !important;
      border-color: $light-gray !important
    }
  }

  @media (min-width: 576px) {
    entypo {
      display: none;
    }
    .thumbnails {
      * {
        cursor: pointer;
      }

      div {
        &:first-child {
          width: 100%;
          padding-top: 75%; /* 4:3 aspect ratio for more height */
          height: 0;
          position: relative;
        }

        &:not(:first-child) {
          display: none;
        }
      }
    }
    h4 {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
    }
    .btn {
      margin-top: -2px;

      &.btn-first {
        margin-left: 0;
      }

      display: inline-block;
    }
  }

  .ot {
    transition: opacity 200ms linear;
  }
}